---
BasedOnStyle:              Google
IndentWidth:               4
ColumnLimit:               100
PointerAlignment:          Left
AccessModifierOffset:      -4
AlignAfterOpenBracket:     Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands:             true
AlignTrailingComments:     true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments:          false
BinPackParameters:         false
BreakBeforeBraces:         Attach
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth:   4
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeBlocks:             Regroup
IndentCaseLabels:          true
IndentPPDirectives:        BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep:       1
NamespaceIndentation:      None
ReflowComments:            true
SortIncludes:              CaseSensitive
SortUsingDeclarations:     true
SpaceAfterCStyleCast:      false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens:         ControlStatements
SpaceInEmptyParentheses:   false
SpacesInAngles:            Never
SpacesInCStyleCastParentheses: false
SpacesInParentheses:       false
SpacesInSquareBrackets:    false
Standard:                  c++23
TabWidth:                  4
UseTab:                    Never
...
